<tr class="table-light">
  <th scope="row">
    <%= link_to post.title, post_path(post) %>
  </th>
  <td>
    <%= sanitize_and_truncate text: post.content %>
  </td>
  <td>
      <%= short_date post.created_at %>
  </td>
  <td>
      <%= short_date post.updated_at %>
  </td>
  <td>0</td>
  <td>
      <%= link_to :Edit, edit_admin_post_path(post) %> | 
      <%= link_to :Destroy, admin_post_path(post), method: :deletd, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>