<%= form_with model: @about do |f| %>
  <%= render "layouts/error_messages", obj: @about %>

  <fieldset class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :body %>
    <fieldset class="jumbotron">
      <%= f.rich_text_area :body%>
    </fieldset>
  </fieldset>

  <section>
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to :Back, :back, class: "btn btn-secondary" %>
  </section>
<% end %>