<footer class="footer-distributed">
  <div class="footer-left">
    <h3>
      Company
      <span>logo</span>
    </h3>
    <p class="footer-links">
      <%= link_to :Home, "#" %> ·
      <%= link_to :Blog, "#" %> ·
      <%= link_to :Pricing, "#" %> ·
      <%= link_to :About, about_page_path %> ·
      <%= link_to :FAQ, "#" %> ·
      <%= link_to :Contact, "#" %>
    </p>
    <p class="footer-company-name">
      Company Name &copy; #{Date.today.year}
    </p>
    <div class="footer-icons">
      <%= link_to '#' do %>
        <i class="fa fa-facebook"></i>
      <% end %>
      <%= link_to '#' do %>
        <i class="fa fa-twitter"></i>
      <% end %>
      <%= link_to '#' do %>
        <i class="fa fa-linkedin"></i>
      <% end %>
      <%= link_to '#' do %>
        <i class="fa fa-github"></i>
      <% end %>
    </div>
  </div>
  <div class="footer-right">
    <p>Contact Us</p>
    <%= form_with url: "#", method: :post do |f| %>
      <%= f.text_field_tag :email, nil, placeholder: "Email" %>
      <%= f.text_area_tag :message, nil, placeholder: "Message" %>
      <%= f.submit_tag :Send %>
    <% end %>
  </div>
</footer>